* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 0%;
}
.navigation {
  height: 6rem;
  background-color: #3c87a7;
}

.container {
  padding: 3%;
}

.grilla {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  margin: auto;
  padding: 2%;
  background-color: #63bfec;
  border-radius: 20px;
}

.card {
  background-color: #e1e3da;
  padding: 2%;
}

.btn {
  background-color: rgb(43, 94, 94);
}

.publicity {
  width: 100%;
  height: 12rem;
  background-image: url("../assets/images/cool-background.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
